

    <!-- Login Form -->
    <form  action="{{ path('admin_auth')}}"method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="{{user.username}}" >
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="{{user.password}}" >
        <input type="submit">login</input>
    </form>


